[submodule "third_party/nanobind"]
	path = third_party/nanobind
	url = https://github.com/wjakob/nanobind
[submodule "third_party/Backward-cpp"]
	path = third_party/Backward-cpp
	url = https://github.com/bombela/backward-cpp.git
