[submodule "third_party/nanobind"]
	path = third_party/nanobind
	url = https://github.com/wjakob/nanobind
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = 4.x
