name: C++ Python UnitTest CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Set up CMake
      run: |
        sudo apt-get install -y cmake
        pip install --upgrade pip

    - name: Run cpp tests
      run: |
        cmake -S . -B build -DCMAKE_INSTALL_PREFIX=`$pwd/`build -DENABLE_BUILD_WITH_GTEST=ON
        cmake --build build
        cd build
        ctest --version
        ctest
        cd ../
        rm -rf build

    - name: Run python tests
      run: |
        pip install build==1.0.3
        pip install wheel==0.37.1
        pip install ninja==1.11.1.1
        pip install setuptools==68.0.0
        pip install pytest

        python setup.py sdist bdist_wheel
        ls dist
        pip install --force-reinstall dist/*.whl
        pip install -r test/py_test/requirements.txt
        pytest test

    - name: Upload test results
      uses: actions/upload-artifact@v3
      with:
        name: test-results
        path: build/Testing/Temporary
